@font-face {
  font-family: "Sentient";
  src: url("/fonts/Sentient-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
}

:root {
  --bg-dark: hsl(216 33% 90%);
  --bg: hsl(216 74% 96%);
  --bg-light: hsl(216 100% 100%);
  --text: hsl(218 70% 5%);
  --text-muted: hsl(216 18% 29%);
  --highlight: hsl(216 100% 100%);
  --border-color: hsl(216 12% 52%);
  --border-muted: hsl(216 16% 64%);
  --primary: hsl(216 57% 31%);
  --secondary: hsl(42 100% 15%);
  --danger: hsl(9 21% 41%);
  --warning: hsl(52 23% 34%);
  --success: hsl(147 19% 36%);
  --info: hsl(217 22% 41%);
  --border: 1px solid var(--bg);
  --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 0 4px 4px hsla(0, 0%, 0%, 0.15);
  --gradient: linear-gradient(0deg, var(--bg) 70%, var(--bg-light));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
}

:root.dark {
  --bg-dark: hsl(222 61% 2%);
  --bg: hsl(217 40% 5%);
  --bg-light: hsl(216 24% 9%);
  --text: hsl(216 100% 97%);
  --text-muted: hsl(216 21% 71%);
  --highlight: hsl(216 14% 40%);
  --border-color: hsl(216 18% 29%);
  --border-muted: hsl(216 25% 19%);
  --primary: hsl(216 78% 74%);
  --secondary: hsl(37 56% 61%);
  --danger: hsl(9 26% 64%);
  --warning: hsl(52 19% 57%);
  --success: hsl(146 17% 59%);
  --info: hsl(217 28% 65%);
  --border: 1px solid var(--border-color);
}

body {
  font-family:
    "Mona Sans VF",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Noto Sans",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji";
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: left;
  background: var(--bg-dark);
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
  justify-content: center;
}

main {
  width: 100vw;
  max-width: 720px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sentient";
  margin: 0 0 1rem 0;
  color: var(--text);
  line-height: 1;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid var(--border-color);
}

h3 {
  font-size: 1.25em;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

ol,
ul {
  padding-left: 2em;
  margin-bottom: 1em;
}

strong,
b {
  font-weight: 700;
}

a {
  color: var(--primary);
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  color: var(--primary);
}

p {
  margin-bottom: 1em;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

code {
  font-family:
    "Monaspace Neon",
    ui-monospace,
    SFMono-Regular,
    SF Mono,
    Menlo,
    Consolas,
    Liberation Mono,
    monospace;
  font-size: 0.85rem;
}

/* Inline code */
:not(pre) > code {
  padding: 0.2em 0.4em;
  background-color: var(--bg-light);
  border-radius: 6px;
}

/* Code blocks */
pre {
  padding: 1em;
  border-radius: 6px;
  line-height: 1.45;
  font-size: 0.85rem;
  margin-bottom: 1em;
}

blockquote {
  border-left: 4px solid var(--border);
  padding: 0 0 0 20px;
}

hr {
  border: none;
  border-top: 1px solid rgb(var(--border-color));
}

@media (max-width: 720px) {
  .desktop-only {
    display: none !important;
  }
}

@media (min-width: 721px) {
  .mobile-only {
    display: none !important;
  }
}
