* {
  padding: 0;
  margin: 0;
}

:root {
  --bg: oklch(96% 0.01 259deg);
  --bg-mid: oklch(98% 0.01 259deg);
  --bg-top: oklch(100% 0.01 259deg);
  --hover-color: oklch(92% 0.015 259deg);
  --border-color: var(--bg-mid);
  --text: #111;
  --text-muted: oklch(40% 0.05 259deg);
  --primary: oklch(40% 0.2 259deg);

  /* Definitions */
  --border: 1px solid var(--border-color);
  --shadow: inset 0 1px 2px #fff3, 0 1px 2px #0003, 0 2px 4px #0001;
  --hover-gradient: linear-gradient(
    10deg,
    var(--hover-color) 20%,
    var(--bg-mid)
  );
  --font-sans:
    "Mona Sans VF", -apple-system, "BlinkMacSystemFont", "Segoe UI",
    "Noto Sans", "Helvetica", "Arial", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  --font-mono:
    "Monaspace Neon", ui-monospace, "SFMono-Regular", "SF Mono", "Menlo",
    "Consolas", "Liberation Mono", monospace;
}

:root.dark {
  --bg-hover: oklch(22% 0.01 259deg);
  --bg: oklch(20% 0.01 259deg);
  --bg-mid: oklch(25% 0.01 259deg);
  --bg-top: oklch(30% 0.01 259deg);
  --hover-color: oklch(35% 0.015 259deg);
  --border-color: oklch(40% 0.01 259deg);
  --text: #eee;
  --text-muted: oklch(80% 0.03 259deg);
  --primary: oklch(80% 0.2 259deg);
}

body {
  font-family: var(--font-sans);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: left;
  background: var(--bg);
  background-size: 100% 600px;
  overflow-wrap: break-word;
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
  justify-content: center;
}

main {
  width: 100vw;
  max-width: 720px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
  margin: 0 0 1rem;
  color: var(--text);
  line-height: 1;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid var(--border-color);
}

h3 {
  font-size: 1.25em;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

ol,
ul {
  padding-left: 2em;
  margin-bottom: 1em;
}

strong,
b {
  font-weight: 700;
}

.a,
a {
  font-family: var(--font-sans);
  font-size: 1em;
  color: var(--primary);
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  color: var(--primary);
}

button {
  background: none;
  border: none;
}

p {
  margin-bottom: 1em;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

code {
  font-family: var(--font-mono);
  font-size: 0.85rem;
}

/* Inline code */
:not(pre) > code {
  padding: 0.2em 0.4em;
  background-color: var(--fg-light);
  border-radius: 6px;
}

/* Code blocks */
pre {
  padding: 1em;
  border-radius: 6px;
  line-height: 1.45;
  font-size: 0.85rem;
  margin-bottom: 1em;
}

blockquote {
  border-left: 4px solid var(--border);
  padding: 0 0 0 20px;
}

hr {
  border: none;
  border-top: 1px solid rgb(var(--border-color));
}

@media (width <= 720px) {
  .desktop-only {
    display: none !important;
  }
}

@media (width >= 721px) {
  .mobile-only {
    display: none !important;
  }
}
